body {padding:0; margin:0; height:750px; background:#6f6f6f}



table, td {border-collapse:collapse;}
table, td, img {border:0; padding:0;}

form, td{margin:0; padding:0;}
html {height:100%;}
br{font-size:10px}
table{border:0px; border-collapse:collapse;	}
body, td{
	font-size:11px;
    font-family:Tahoma;
	color:#7d7b7b;
	line-height:13px;
	vertical-align:top;
	padding:0px;
}



a img{ border:0px}
img{ vertical-align:top}

strong{ color:#91908d}
b{ color:#585858}
span{}
span a{} 
span a:hover{}

a{ color:#99c000; text-decoration:underline} 
a:hover{ color:#99c000; text-decoration: none}

.bg_bot{ background:url(bg_bot00.gif) top left repeat-x #6f6f6f}
.bg_color{ background:#f2f2f2}
.bg_li_bot{ background:url(bg_li_bo.gif) top left repeat-y}





ul{margin:0; padding:0; list-style:none}
li{ line-height:18px }
li a{ background:url(1_z10000.gif)  center left no-repeat; background-position:0 5px; margin:0px; padding-left:9px;color:#91908d; text-decoration:underline}
li a:hover{color:#91908d; text-decoration:none}




.more{background:url(1_z20000.gif)  center left no-repeat; background-position:0 5px; padding-left:12px; vertical-align:middle; color:#434343; font-weight:bold; text-decoration:none}
.more:hover{ text-decoration:underline}



.main_table{ width:100%; border: solid 1px; background:url(bg_left0.gif) top left repeat-x #c4c4c4}
.site_center{text-align:center; width:100%; background:url(bg_bot00.gif) bottom left repeat-x}
.site_center1{margin:0 auto; text-align:left; width:770px;}
 /*header*/
#header{ height:339px; width:770px} 
#header .row1{ height:25px; color: #ebebeb; padding: 5px 0px 0px 15px; background:url(bg_hed_t.gif) top left repeat-y }
#header .row2{ height:313px; background:url(bg_hed_l.gif) top left repeat-x }

#header .row2 .col1{ width:586px; background:url(bg_heade.jpg) bottom right no-repeat}

#header .row2 .col1 div{ padding:142px 0 0 60px}
#header .row2 .col1 .title{ margin:0 89px 0 0px}
#header .row2 .col2{ width:184px}

#header .row2 .col2 .indent{ margin:101px 0 0px 0px}



/*content*/
#content{ width:770px; height:352px; background:#FFFFFF }

/*page1*/
#page1 #content .row1{ height:10px; background:url(bg_top_c.gif) top left repeat-x}
#page1 #content .row2{ height:342px}

#page1 #content .row2 .col1{ width:21px}
#page1 #content .row2 .col2{ width:233px}

#page1 #content .row2 .col2 .title{ margin:0 0 25px 0px}
#page1 #content .row2 .col3{ width:516px}

#page1 #content .row2 .col3 .box1{ height:206px; color:#91908d}

#page1 #content .row2 .col3 .box1 div{ padding:30px 59px 15px 28px}
#page1 #content .row2 .col3 .box1 p{ margin:23px 15px 13px 0px}
#page1 #content .row2 .col3 .box1 .indent{ margin:19px 0px 0px 0px}
#page1 #content .row2 .col3 .box2{ height:136px}



/*page2*/
#page2 #content .row1{ height:10px; background:url(bg_top_c.gif) top left repeat-x}
#page2 #content .row2{ height:342px}

#page2 #content .row2 .col1{ width:516px}

#page2 #content .row2 .col1 .box1{ height:242px}

#page2 #content .row2 .col1 .box1 div{ padding:32px 25px 10px 60px}
#page2 #content .row2 .col1 .box1 .title{ margin:0px 0px 28px 0px}
#page2 #content .row2 .col1 .box1 .title_1{ margin:13px 0px 0px 0px}
#page2 #content .row2 .col1 .box1 p{ margin:1px 15px 11px 0px}
#page2 #content .row2 .col1 .box2{ height:100px}
#page2 #content .row2 .col2{ width:233px}

#page2 #content .row2 .col2 .box1{ height:314px}

#page2 #content .row2 .col2 .box1 div{ padding:34px 15px 10px 38px}
#page2 #content .row2 .col2 .box1 .indent{ margin:29px 0px 19px 2px}
#page2 #content .row2 .col2 .box1 p{ margin:4px 0px 12px 2px}
#page2 #content .row2 .col2 .box2{ height:28px}
#page2 #content .row2 .col3{ width:21px}



/*page3*/
#page3 #content .row1{ height:10px; background:url(bg_top_c.gif) top left repeat-x}
#page3 #content .row2{ height:342px}

#page3 #content .row2 .col1{ width:21px}
#page3 #content .row2 .col2{ width:233px}

#page3 #content .row2 .col2 .box1{ height:314px}

#page3 #content .row2 .col2 .box1 div{ padding:34px 15px 10px 38px}
#page3 #content .row2 .col2 .box1 .title{ margin:0px 0px 25px 0px}
#page3 #content .row2 .col2 .box1 p{ margin:4px 0px 18px 2px}
#page3 #content .row2 .col2 .box2{ height:28px}
#page3 #content .row2 .col3{ width:516px}

#page3 #content .row2 .col3 div{ padding:32px 50px 10px 28px}
#page3 #content .row2 .col3 .title{ margin:0px 0px 21px 0px}



/*page4*/
#page4 #content .row1{ height:10px; background:url(bg_top_c.gif) top left repeat-x}
#page4 #content .row2{ height:342px}

#page4 #content .row2 .col1{ width:516px}

#page4 #content .row2 .col1 div{ padding:32px 20px 10px 60px}
#page4 #content .row2 .col1 .title{ margin:0px 0px 25px 0px}
#page4 #content .row2 .col1 .title_1{ margin:26px 0px 25px 0px}
#page4 #content .row2 .col1 .indent{ margin:20px 0px 0px 0px}
#page4 #content .row2 .col2{ width:233px}

#page4 #content .row2 .col2 .box1{ height:314px}

#page4 #content .row2 .col2 .box1 div{ padding:34px 20px 10px 39px}
#page4 #content .row2 .col2 .box1 .title{ margin:0px 0px 26px 0px}
#page4 #content .row2 .col2 .box2{ height:28px}
#page4 #content .row2 .col3{ width:21px}



/*page5*/
#page5 #content .row1{ height:10px; background:url(bg_top_c.gif) top left repeat-x}
#page5 #content .row2{ height:342px}

#page5 #content .row2 .col1{ width:21px}
#page5 #content .row2 .col2{ width:233px}

#page5 #content .row2 .col2 .box1{ height:314px}

#page5 #content .row2 .col2 .box1 div{ padding:34px 20px 10px 38px}
#page5 #content .row2 .col2 .box1 .title{ margin:0px 0px 25px 0px}
#page5 #content .row2 .col2 .box2{ height:28px}
#page5 #content .row2 .col3{ width:262px}

#page5 #content .row2 .col3 div{ padding:32px 0 0 28px}
#page5 #content .row2 .col3 .indent{ margin:28px 0 19px 0px}
#page5 #content .row2 .col4{ width:233px}

#page5 #content .row2 .col4 .box1{ height:314px}

#page5 #content .row2 .col4 .box1 div{ padding:34px 15px 10px 38px}
#page5 #content .row2 .col4 .box1 .title{ margin:0px 0px 28px 0px}
#page5 #content .row2 .col4 .box2{ height:28px}
#page5 #content .row2 .col5{ width:21px}




/*page6*/
#page6 #content .row1{ height:10px; background:url(bg_top_c.gif) top left repeat-x}
#page6 #content .row2{ height:342px}

#page6 #content .row2 .col1{ width:516px}

#page6 #content .row2 .col1 .box1{ height:238px; color:#91908d}

#page6 #content .row2 .col1 .box1 div{ padding:32px 0 0 60px}
#page6 #content .row2 .col1 .box1 .title{ margin:0px 0 28px 0px}
#page6 #content .row2 .col1 .box2{ height:104px}
#page6 #content .row2 .col2{ width:233px}

#page6 #content .row2 .col2 .box1{ height:314px}

#page6 #content .row2 .col2 .box1 div{ padding:34px 15px 10px 38px}
#page6 #content .row2 .col2 .box1 .title{ margin:0px 0px 26px 0px}
#page6 #content .row2 .col2 .box2{ height:28px}
#page6 #content .row2 .col3{ width:21px}




/*page7*/
#page7 #content .row1{ height:10px; background:url(bg_top_c.gif) top left repeat-x}
#page7 #content .row2{ height:342px; width:770px; color:#91908d}
#page7 #content .row2 div{ padding:32px 43px 10px 60px}






/*footer*/
#footer { width:770px; height:59px;} 

#footer .row1{ height:5px; background:url(bg_foot0.gif) top left repeat-x;}
#footer .row2{ height:54px; background:#919190; color:#FFFFFF; font-size:10px}
#footer .row2 div{ padding:19px 0 0 61px}
#footer .row2 .indent{ margin:0 15px 0 15px}
#footer .row2 a{ color:#FFFFFF; text-decoration: underline}
#footer .row2 a:hover{ color:#FFFFFF; text-decoration: none}



/*input*/
input{
   background:#272727;
   border:1px solid #888888;
   width:165px; height:25px;
}
.input1{
   background:#ffffff;
   border:1px solid #91908d;
   width:201px; height:15px;
   color:#91908d;
   font-size:10px
}
#input2{
   width:44px; height:11px;
   border:0px;
}
#input3{
   width:39px; height:11px;
   border:0px;
}
textarea{
   background:#ffffff;
   border:1px solid #91908d;
   width:201px; height:49px;
   overflow:auto;
   font-family:Tahoma;
   font-size:11px;
   color:#91908d}